Flask
Flask-SQLAlchemy
Flask-Login
Flask-JWT-Extended
Flask-CORS
Flask-Bcrypt
Flask-Marshmallow
marshmallow-sqlalchemy
Flask-Caching==2.4.0
pymysql
cryptography
fpdf2
openpyxl
requests
gunicorn
python-dotenv
Werkzeug
